---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

Education
======
* University of Texas at Dallas, Richardson, Texas <br> Ph.D. in Information Systems 2017 - Present
* Sabanci University, Istanbul, Turkey <br> M.Sc. in Industrial Engineering 2015 - 2017
* Istanbul Technical University, Istanbul, Turkey <br> B.S. in Industrial Engineering 2010 – 2014

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
